@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans"),
    local("OpenSans"),
    url("/fonts/opensans-regular.woff2") format("woff2"),
    url("/fonts/opensans-regular.woff") format("woff");
  font-display: "swap";
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: local("Open Sans Semibold"),
    local("OpenSans-Semibold"),
    url("/fonts/opensans-semibold.woff2") format("woff2"),
    url("/fonts/opensans-semibold.woff") format("woff");
  font-display: "swap";
}
@font-face {
  font-family: "Material Icons";
  src: url("/fonts/materialicons-regular.woff2") format("woff2");
}
:root {
  --font-default: "Open Sans", -apple-system, "SegoeUI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
  --font-body: 400 min(17px, 5.4vmin) / 1.75 var(--font-default);
  --background-primary: #121212;
  --background-secondary: #2f323e;
  --text-primary: #fff;
  --text-secondary: #c9d1e5;
  --transition-default: all .3s ease-in-out;
  --hopper-green: #09b366;
  --hopper-blue: #1964d4;
  --hopper-red: #e24141;
  --hopper-yellow: #edd853;
}
body {
  margin: 0;
  font: var(--font-body);
  background: var(--background-primary);
  color: var(--text-primary);
}
.material-icons {
  font-family: "Material Icons";
  font-size: 24px;
  line-height: 1;
  display: none;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  user-select: none;
}
#banner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.error,
.success {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--hopper-red);
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  animation: show-banner 1s ease-in-out;
}
.success {
  background: var(--hopper-green);
}
#login-container {
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  row-gap: 15px;
  min-height: 100vh;
}
form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  row-gap: 15px;
  height: 100%;
}
.h1 {
  font: 600 40px / 1.75 var(--font-default);
  margin: 0 0 10px;
  color: #ffffff;
}
.input-group {
  position: relative;
  width: min(320px, calc(100% - 30px));
  height: 46px;
  outline: 0;
  border: 1px solid var(--background-secondary);
  transition: 100ms;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.input {
  background: var(--background-secondary);
  color: var(--text-secondary);
  height: 100%;
  width: 100%;
  padding: 0 15px;
  border: 1px solid var(--background-secondary);
  outline: 0;
  font-size: 16px;
  border-radius: 5px;
}
.input::selection {
  background: #c9d1e533;
}
#password {
  width: calc(100% - 24px)
}
.label {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 23px;
  left: 10px;
  height: 100%;
  padding-inline: 5px;
  font-size: 16px;
  pointer-events: none;
  color: var(--text-secondary);
  background: var(--background-secondary);
  height: 1px;
  transition: 100ms;
}
.input:valid ~ .label,
.input:focus ~ .label,
.input:-webkit-autofill ~ .label {
  bottom: 46px;
  font-size: 15px;
  color: var(--hopper-green);
}
.input:-webkit-autofill {
  transition: 0s 10000000000s;
}
.input-group:focus-within .input {
  caret-color: var(--text-secondary);
}
input[type=submit] {
  border: 0;
  background: #09b366;
  color: #fff;
  padding: 8px 0;
  width: min(320px, calc(100% - 30px));
  font: inherit;
  font-weight: 600;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 100ms background;
}
@keyframes show-banner {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes hide-banner {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}